body {
    margin: 0;
    font-size: 28px;

    input[type='text'] {
        font-size: 24px;
    }
}

#searchBar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 10px;


    background-color: #C09020;
    /* background-color: #404040; */
}

#searchField {
    font-size: 28px;
    color: #404040;
}


#tagsPanel {
    position: fixed;
    height: 100%;
    width: 28%;
    top:  0;
    left: 0;
    overflow-x: hidden;


    color: #bd8c37;
    background: #202530;

    /* background: #505560; */
}

.tags {
    padding: 0;
}

.tags a:link { color:  #bd8c37; }
.tags a:visited { color: #bd8c37; }
.tags a:hover { color: #d4c26c; }
.tags a:active { color: #cf9a61; }
/* .tags a:link { color: #d4c26c; } */
/* .tags a:hover { color: #e9edaf; } */

.tag {
    padding: 20px;
    margin: 0px;
    cursor: pointer;
}
.tag:hover {
    background: #505050;
}

.tagLink {
    text-decoration: none;
}
.tagName {
    font-size: 32px;
}
.tagPath {
    font-size: 20px;
}

.help {
    color: #101112;

    margin-left: 28%;
}

.meta {
    /* width: calc(100% - 100px); */
    width: 80%;
    margin-left: 10%;
    padding: 30px;

    font-size: 20px;
    /* background: #dfdfca; */
    background: #e8e8d5;
}
.meta a:link { color: #485f69; }
.meta a:visited { color: #485f69; }
.meta a:hover { color: #54869c; }
.meta a:active { color: #54869c; }


.path {
    color: #505050;
    font-size: 24px;
}

.pathLink {
    text-decoration: none;
}

.metaHead {
    /* color: #346a73; */
    /* color: #348199; */
    color: #166470;
    font-size: 36px;
}

.missingHead {
    color: #bd5f51;
    font-size: 36px;
}

.metaSection {
    color: #166470;
    font-size: 28px;
}
